body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: rgb(214, 214, 252);
    color: rgb(72, 68, 112);
}

header {
    font-family: 'Brush Script MT';
    font-size: x-large;
    text-align: center;
}

nav {
    text-align: center;
    padding-bottom: 20px;
}

div.links {
    display: inline-block;
    padding-inline: 5px;
    background-color: rgb(255, 255, 255);
}

#image {
    float: right;
}

#portrait {
    width: 500px;
}

#overlay {
    position: absolute;
    top: 420px;
    width: 460px;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#image:hover #overlay {
    opacity: 1;
}